html,
body {
  background: transparent;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

body.dangerous::before {
  content: "You are in a dangerous environment!";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 40px;
  color: red;
  border: 5px solid red;
  padding: 10px;
}
